# http://editorconfig.org/#file-format-details
root = true

# Always use Unix style new lines with new line ending on every file and trim whitespace
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Python: PEP8 defines 4 spaces for indentation
[*.py]
indent_style = space
indent_size = 4

# Allow new paragrpah from two trailing whitespaces in markdown
[*.md]
trim_trailing_whitespace = false
